<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Suzie's Car Pavillion</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <div class='container'>
      <div class='jumbotron'>
        <h1>Suzie's Car Pavillion</h1>
        <h2>Sell your car here</h2>
      </div>  <!-- .jumbotron -->
      <div class='row'>
          <!-- FORM -->
        <form action='/dealership' method='post'>
          <div class='col-md-6'>
            <div class='form-group'>
              <label for='year'>What year is your car?</label>
              <input type='text' name='year' id='year' class='form-control' >
            </div>
            <div class='form-group'>
              <label for='make'>What Make?</label>
              <input type='text' name='make' id='make' class='form-control' >
            </div>
            <div class='form-group'>
              <label for='model'>What Model?</label>
              <input type='text' name='model' id='model' class='form-control' >
            </div>
            <div class='form-group'>
              <label for='miles'>How many miles does it have?</label>
              <input type='number' name='miles' id='miles' class='form-control' >
            </div>
          </div>  <!-- .col-md-6 -->

          <div class='col-md-6'>
            <div class='form-group'>
              <label for='color'>What color is your car</label>
              <input type='text' name='color' id='color' class='form-control' >
            </div>
            <div class='form-group'>
              <label for='price'>Sell Price</label>
              <input type='number' name='price' id='price' class='form-control' >
            </div>
            <div class='form-group'>
              <label for='image'>Submit URL to car</label>
              <input type='text' name='image' id='image' class='form-control' >
            </div>
            <button type='submit' class='btn btn-lg btn-primary'>List my car!</button>
          </div>  <!-- .col-md-6 -->
        </form>     <!-- /FORM -->
      </div>  <!-- .row -->

      <div class='row'>
      <hr>
        <div class='col-md-3'>
          <h2>Cars for sale</h2>
        </div>
        <div class="col-md-3">
          <br>
            <form action='/delete' method='post'>
              <button type='submit' class='btn btn-sm btn-danger'>Delete all Cars</button>
            </form>  <!-- button form -->
        </div>  <!-- .col-md-4 -->
      </div>  <!-- .row -->

      <div class="row">
          {% for car in cars %}
              <div class='col-md-5 cardiv'>
                  <div class="row">
                    <div class="col-md-6">
                      <h4>{{ car.getYear }}</h4>
                      <h4>{{ car.getMake }} {{ car.getModel }}</h4>
                      <h6>Miles: {{ car.getMiles }}</h6>
                      <h6>Color: {{ car.getColor }}</h6>
                      <h6>Price: ${{ car.getPrice }}</h6>
                    </div>
                    <div class="col-md-6">
                      <img src='{{ car.getImage }}'>
                    </div>
                  </div>
              </div>  <!-- .col-md-6 -->
          {% endfor %}
      </div>  <!-- .row -->





    </div>  <!-- .container -->
  </body>
</html>
